html {
    background: #eee;
}
main {
    margin: 5%;
}
.tb_patient_info {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 1px 1px 13px #ccc;
    margin-top: 1rem;
}

.tb_patient_info tr th, .tb_patient_info tr td {
    text-align: center;
    padding: 1rem;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;

}

.open.active p {
    display: block;
}

.open p {
    display: none;
}